@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #d48c3a;
  --color-primary-dark: #4a321f;
  --color-background-light: #f8f7f6;
  --color-background-dark: #201912;
  --color-sage-muted: #8ea091;
  --font-display: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: #0f172a; /* slate-900 */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background-dark);
    color: #f1f5f9; /* slate-100 */
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.fill-1 {
  font-variation-settings: 'FILL' 1;
}
